* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body { padding:20px;
padding-left: 100px;
padding-right: 100px;
padding-top: 20px;}

.tudo 

{ width: 100%;
display:flex ;
justify-content: space-between;
align-items: center;
}

.texto { width: 600px;
    font-family: 'Poppins', sans-serif;}

.copo {
    width: 600px;
    display: flex;
    justify-content: flex-end;
    margin-top: 0%;
    z-index:2 ;

}

.copinhos { display: flex;
    justify-content: center;
    cursor: pointer;
    
}

.imagem2:hover {
    transform: translatey(-20px);
    transition: 1s;
}

button {
    background-color: darkgreen;
    color: floralwhite;
    border: none;
    padding: 10px;
    border-radius: 20px;
}

h2 {
    font-size: 35px;
    font-weight: 500;
}

p {
    font-size: 16px;
    margin-top: 20px;
    margin bottom: 20px;
}

button {margin-top: 30px;
    cursor: pointer;
}

.button:hover {
    transform: translatey(-20);
}

span {
    color: darkgreen;
    font-size: 60px;
    font-weight: 300px;
}


.imagem1 {
    width: 280px;
}

.imagem2 {
    width: 45px;
}

.circulo { background: #32CD32;
width: 100%;
height: 100%;
position:absolute;
top: 0%;
left: 0%;
clip-path:circle(600px at right 800px);

}

@media screen and (max-width: 1100px){

    .tudo 

        
     { width: 76%; height: 61%; position: fixed; }


     .copinhos {
        display: flex;
        justify-content: center;
        cursor: pointer;
        position: relative;
        margin-top: 850px;

     }


     .circulo {
        background: #32CD32;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0%;
        left: 0%;
        clip-path: circle(396px at right 844px);

     }

     .logo {
        
        margin: 62px 69px 37px 343px;
        width: 100px;
        height: 100px;
        display: flex;
     }

     
}